<tr style="background: {{ index == 1 ? 'red' : index % 2 == 1 ? 'gray' : 'white' }}">
    <td>{{ index }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.class }}</td>
    <td>{{ student.letter }}</td>
    <td>{{ student.dateOfBirth | format_datetime('medium', 'none') }}</td>
    <td><a href="{{ path('changeInfo', {'id': index}) }}">change info</a></td>
</tr>